.tpSection02 {
  height: 100vh;
  padding: 180px 20px 50px;
  background-color: #222;

  &.is-mobile {
    padding: 100px 20px;
    height: auto;
  }
}

.title {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
  line-height: 1.4;
}

.mainBox {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  height: 420px;

  &.is-mobile {
    flex-direction: column;
    height: auto;
  }
}

.subBox {
  background-color: #333;
  border-radius: 10px;
  width: 33.3333%;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: white;
  // transition: transform 0.3s ease;

}

.numText {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 15px;
}

.titleText {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.4;
}

.subTitleText {
  font-size: 16px;
  font-weight: 500;
  color: #fff;

  p {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 16px;
    color: #ccc;
  }
}
