.tpHeader02 {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  &__nav {
    background: rgba(0, 0, 0, 0.7);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__navLists {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style: none;
    padding: 0;
  }

  .linkButton {
    background: none;
    border: none;
    outline: none;
    color: white;
    // color: black;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
    
    // &:hover {
    //   opacity: 0.5;
    // }

    &.active {
      // text-decoration: underline;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
